<footer class="p-6 text-center bg-gray-200 dark:bg-gray-800 text-gray-700 dark:text-gray-300">
  <p>&copy;2025 <a href="https://github.com/mutopia7" target="_blank" rel="npreferer">Mutopia</a>. All rights reserved.</p>
</footer>