<main class="formMain">
    <h1> Log In</h1>
    <form action="/login" method="POST" class="form">
      <label for="username">Username</label>
      <input id="username" name="username"  type="text"
            value="<%= oldInput.username ? oldInput.username : '' %>" />
      <% if (loginErrors.username) { %>
        <p class="error"><%= loginErrors.username %></p>
      <% } %>

      <label for="password">Password</label>
      <input id="password" name="password" type="password"/>
      <% if (loginErrors.password) { %>
        <p class="error"><%= loginErrors.password %></p>
      <% } %>

      <% if (loginErrors.general) { %>
        <p class="error"><%= loginErrors.general %></p>
      <% } %>

      <button type="submit" class="subBtn">Log In</button>
    </form>

</main>